<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sdo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <h2>Институт информатики и математики</h2>
    </div>
    <div class="depth1">
        <button class="bac btn" onclick="changeColor(this)">
            Бакалавриат
        </button>
        <button class="mag btn" onclick="changeColor(this)">
            Магистратура
        </button>
        <button class="asp btn" onclick="changeColor(this)">
            Аспирантура
        </button>
    </div>
    <script src="script.js"></script>
</body>
</html>